main#main.view-animate-container
  section.content-layer-1
    div.container-fluid
      h1 Blog
      div.row
        div.col-md-3
          h3 Left
        div.col-md-6
          h2 Blog post
          p
            date 12-12-2015
          p.abstract Test post text test test test test test tes tessd lkdna öadof adölfö oaif akj dösdakj aödo öd öa udödu
         div.col-md-3
          ul.media-list
            li.media
              div.media-body
                h3.media-heading Heading
                p Sidebar text goes here which is really good
            li.media
              div.media-body
                h3.media-heading Heading
                p Sidebar text goes here which is really good
            li.media
              div.media-body
                h3.media-heading Heading
                p Sidebar text goes here which is really good
            li.media
              div.media-body
                h3.media-heading Heading
                p Sidebar text goes here which is really good
      div.mountains
  section.stratum.content-layer-2
    div.container-fluid
  section.stratum.content-layer-3
    div.container-fluid
      div.row

