main#main.view-animate-container
    section.content-layer-1
        .container-wrapper
            .container
                .row
                    .col-md-4
                        .promo(style='height:60px;width:100%')
                            h2 Fiction
                    .col-md-4
                        .promo(style='height:60px;width:100%')
                            h2 Non-Fiction
                    .col-md-4
                        .promo(style='height:60px;width:100%')
                            h2 By Age
                .row
                    .col-md-8
                        .promo
                            img.img-responsive(src='/img/book-cover.png', alt='', style='height:300px;width:100%;')
                    .col-md-4
                        .row
                            .col-xs-6.col-md-12
                                .promo
                                    img.img-responsive(src='/img/book-cover.png', alt='', style='height:140px;width:100%;')
                            .col-xs-6.col-md-12
                                .promo
                                    img.img-responsive(src='/img/book-cover.png', alt='', style='height:140px;width:100%')

                .row
                    .col-md-12
                        carousel
            .cow
            .tree-lg
                img(src='/img/tree-lg.png', alt='tree')
            .grass
            .hills
            img.distant-cloud.one(src='/img/dark-cloud-1.png', alt=' ')
            img.distant-cloud.two(src='/img/dark-cloud-2.png', alt=' ')
            img.distant-cloud.three(src='/img/dark-cloud-3.png', alt=' ')
    section.stratum.content-layer-2
        .container-fluid
            .guess-a-god(guess-a-god='')
    hr.crust
    section.stratum.content-layer-3
        .container
            .row
                .col-md-9
                    h2 Questions and (some) answers
                    dl
                        dt Q: What does atheism mean?
                        dd A: Atheism doesn't mean you believe in anything, or that you don't like religion or people who believe in religions. The <em>'A'</em> in atheism comes from Greek and just means <em>not</em>, and theism mean belief in the existence of god or gods. So, atheism is just another way to say 'no god'.
                        dt Q: But if atheism means 'no god', how do you know there is no god?
                        dd A: We don't. No one can say for sure that there's no god, just like no can say that there's no such things as aliens. What atheists say is that there is no proof that a god exists. Maybe one day there will be, and in that case all us atheists will have to change our minds!
                        dt Q: Some people say that have evidence of god? Should I believe them?
                        dd A: Good question. Can you see this evidence too? Ask them to show you. If they can't, or won't, then you should ask yourself why. Would you believe someone who told you your ears were green before looking in the mirror?
                        dt Q: Other people believe in god. Why shouldn't I?
                        dd A: It's okay to believe in whatever you want, so long as it doesn't hurt or annoy other people. But isn't it more fun to try to find out things for yourself rather than believe things just because you're told it's true?
                        dt Q: Why don't you write god with a capital letter?
                        dd A: For the same reason why we don't write 'apple' with a capital letter :)
                        dt Q: I like your drawings, can I use them on my project?
                        dd A: Yes!
                .col-md-3
                    .dinosaur.pull-right
                        img.skin(src='/img/t-rex.png', alt='t rex')
                        img.bones(src='/img/t-rex-bones.png', alt='t rex bones')
