main#main.view-animate-container
  section.content-layer-1
    div.container-fluid
      h1 Latest books and reviews
      h2 Athiest Children's Books is currently in development!
      div.row
        div.col-md-6
          div.content-cell.media
            div.media-left
              a(href='/read/sweet-book')
                img.img-rounded.media-object(src='/img/book-cover.png', alt='')
            div.media-body
              span.age.label.label-info 4-8 years
              h2 A neat book review goes here
              p Blah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blah
        div.col-md-6
          div.content-cell.media
            div.media-left
              a(href='/read/awesome-book')
                img.img-rounded.media-object(src='/img/book-cover.png', alt='')
            div.media-body
              span.age.label.label-info 4-8 years
              h2 A neat book review goes here
              p Blah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blah
      div.row
        div.col-sm-6.col-md-3.col-xs-12.book
          a(href='/read/some-title-here')
            span.age.label.label-info 4-8 years
            figure
              div
                img.img-rounded(src='/img/book-cover.png', alt='')
              figcaption
                div
                  h3 My awesome book
                  span Your name here
        div.col-sm-6.col-md-3.col-xs-12.book
          a(href='/read/other-title')
            span.age.label.label-info 4-8 years
            figure
              div
                img.img-rounded(src='/img/book-cover.png', alt='')
              figcaption
                div
                  h3.clearfix My awesome book
                  span Your name here
        div.col-sm-6.col-md-3.col-xs-12.book
          a(href='/read/this-book-is-great')
            span.age.label.label-info 4-8 years
            figure
              div
                img.img-rounded(src='/img/book-cover.png', alt='')
              figcaption
                div
                  h3 My awesome book
                  span Your name here
        div.col-sm-6.col-md-3.col-xs-12.book
          a(href='/read/what-a-spiffing-book')
            span.age.label.label-info 4-8 years
            figure
              div
                img.img-rounded(src='/img/book-cover.png', alt='')
              figcaption
                div
                  h3 My awesome book
                  span Your name here
      div.cow
      div.tree-lg
        img(src='/img/tree-lg.png', alt='tree')
      div.grass
      div.hills
      img.distant-cloud.one(src='/img/dark-cloud-1.png', alt=' ')
      img.distant-cloud.two(src='/img/dark-cloud-2.png', alt=' ')
      img.distant-cloud.three(src='/img/dark-cloud-3.png', alt=' ')
  section.stratum.content-layer-2
    div.container-fluid
      div.guess-a-god(guess-a-god='')
  hr.crust
  section.stratum.content-layer-3
    div.container-fluid
      div.row
        div.col-md-9
          h2 Questions and (some) answers
          dl
            dt Q: What does atheism mean?
            dd A: Atheism doesn't mean you believe in anything, or that you don't like religion or people who believe in religions. The <em>'A'</em> in atheism comes from Greek and just means <em>not</em>, and theism mean belief in the existence of god or gods. So, atheism is just another way to say 'no god'.
            dt Q: But if atheism means 'no god', how do you know there is no god?
            dd A: We don't. No one can say for sure that there's no god, just like no can say that there's no such things as aliens. What atheists say is that there is no proof that a god exists. Maybe one day there will be, and in that case all us atheists will have to change our minds!
            dt Q: Some people say that have evidence of god? Should I believe them?
            dd A: Good question. Can you see this evidence too? Ask them to show you. If they can't, or won't, then you should ask yourself why. Would you believe someone who told you your ears were green before looking in the mirror?
            dt Q: Other people believe in god. Why shouldn't I?
            dd A: It's okay to believe in whatever you want, so long as it doesn't hurt or annoy other people. But isn't it more fun to try to find out things for yourself rather than believe things just because you're told it's true?
            dt Q: Why don't you write god with a capital letter?
            dd A: For the same reason why we don't write 'apple' with a capital letter :)
            dt Q: I like your drawings, can I use them on my project?
            dd A: Yes!
        div.col-md-3
          div.dinosaur.pull-right
            img.skin(src='/img/t-rex.png', alt='t rex')
            img.bones(src='/img/t-rex-bones.png', alt='t rex bones')
