main#main.view-animate-container
  section.content-layer-1
    div.container-fluid
      h1 Learn
      div.row
        div.col-md-6
          h2 Blah blah blah
          p Blah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blah
        div.col-md-6
          h2 Blah blah blah
          p Blah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blah
      div.row
        div.col-md-6
          h2 Blah blah blah
          p Blah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blah
        div.col-md-6
          h2 Blah blah blah
          p Blah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blah
      div.row
        div.col-md-6
          h2 Blah blah blah
          p Blah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blah
        div.col-md-6
          h2 Blah blah blah
          p Blah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blah
      div.row
        div.col-md-6
          h2 Blah blah blah
          p Blah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blah
        div.col-md-6
          h2 Blah blah blah
          p Blah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blah
    hr.cloud-layer
    div.planets
      ul
        li.planet.one
          img(src='/img/planet-1.png', alt='planet')
        li.planet.two
          img(src='/img/planet-2.png', alt='planet')
        li.planet.three
          img(src='/img/planet-3.png', alt='planet')
        li.planet.four
          img(src='/img/planet-4.png', alt='planet')
        li.sun
          img(src='/img/sun-centre.png', alt='sun')
  section.stratum.content-layer-2
    div.container-fluid
      div.row
        div.col-md-6
          h2 Questions and (some) answers
          h2 Questions and (some) answers
          h2 Questions and (some) answers
          h2 Questions and (some) answers
        div.col-md-6
          h2 Testin heading
          h2 Testin heading
