main#main.view-animate-container
    section.content-layer-1
        .container-wrapper
            .container
            h1 Learn
            .row
                .col-md-6
                    h2 Blah blah blah
                    p Blah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blah
                .col-md-6
                    h2 Blah blah blah
                    p Blah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blah
            .row
                .col-md-6
                    h2 Blah blah blah
                    p Blah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blah
                .col-md-6
                    h2 Blah blah blah
                    p Blah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blah
            .row
                .col-md-6
                    h2 Blah blah blah
                    p Blah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blah
                .col-md-6
                    h2 Blah blah blah
                    p Blah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blah
            .row
                .col-md-6
                    h2 Blah blah blah
                    p Blah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blah
                .col-md-6
                    h2 Blah blah blah
                    p Blah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blah
        hr.cloud-layer
        .planets
            ul
                li.planet.one
                    img(src='/img/planet-1.png', alt='planet')
                li.planet.two
                    img(src='/img/planet-2.png', alt='planet')
                li.planet.three
                    img(src='/img/planet-3.png', alt='planet')
                li.planet.four
                    img(src='/img/planet-4.png', alt='planet')
                li.sun
                    img(src='/img/sun-centre.png', alt='sun')
    section.stratum.content-layer-2
        .container
            .row
                .col-md-6
                    h2 Questions and (some) answers
                    h2 Questions and (some) answers
                    h2 Questions and (some) answers
                    h2 Questions and (some) answers
                .col-md-6
                    h2 Testin heading
                    h2 Testin heading
