main#main.view-animate-container
    section.content-layer-1
        .container-wrapper
            .container
                h1 Read
                .row
                    .col-md-9
                        ul.media-list
                            li.media
                                .media-left
                                    a(href='/read/sweet-book')
                                        img.img-rounded.media-object(src='/img/book-cover.png', alt='')
                                .media-body
                                    h2 Blah blah blah
                                    p Blah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blah
                            li.media
                                .media-left
                                    a(href='/read/another-sweet-book')
                                        img.img-rounded.media-object(src='/img/book-cover.png', alt='')
                                .media-body
                                    h2 Blah blah blah
                                    p Blah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blah
                            li.media
                                .media-left
                                    a(href='/read/this-is-a-sweet-book')
                                        img.img-rounded.media-object(src='/img/book-cover.png', alt='')
                                .media-body
                                    h2 Blah blah blah
                                    p Blah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blah
                            li.media
                                .media-left
                                    a(href='/read/hey-you-sweet-book')
                                        img.img-rounded.media-object(src='/img/book-cover.png', alt='')
                                .media-body
                                    h2 Blah blah blah
                                    p Blah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blah
                    .col-md-3
                        ul.media-list
                            li.media
                                .media-body
                                    h3.media-heading Heading
                                    p Sidebar text goes here which is really good
                            li.media
                                .media-body
                                    h3.media-heading Heading
                                    p Sidebar text goes here which is really good
                            li.media
                                .media-body
                                    h3.media-heading Heading
                                    p Sidebar text goes here which is really good
                            li.media
                                .media-body
                                    h3.media-heading Heading
                                    p Sidebar text goes here which is really good
            .waves
            .treasure-chest
            .anchor
            .octopus
            .seaweed
            .sand
            div(fish-school='')
            img.sea-mist.one(src='/img/sea-mist.png', alt=' ')
            img.sea-mist.two(src='/img/sea-mist.png', alt=' ')
            img.sea-mist.three(src='/img/sea-mist.png', alt=' ')
    section.stratum.content-layer-2
        .container
            h2 Books by age groups
            .row
                .col-md-6
                    .content-cell
                        h3 0 - 5 years
                        p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                .col-md-6
                    .content-cell
                        h3 5 - 8 years
                        p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
            .row
                .col-md-6
                    .content-cell
                        h3 9 - 12 years
                        p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                .col-md-6
                    .content-cell
                        h3 12 + years
                        p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
