main#main.view-animate-container
  section.content-layer-1
    div.container-fluid
      h1 Read
      div.row
        div.col-md-9
          ul.media-list
            li.media
              div.media-left
                a(href='/read/sweet-book')
                  img.img-rounded.media-object(src='/img/book-cover.png', alt='')
              div.media-body
                h2 Blah blah blah
                p Blah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blah
            li.media
              div.media-left
                a(href='/read/another-sweet-book')
                  img.img-rounded.media-object(src='/img/book-cover.png', alt='')
              div.media-body
                h2 Blah blah blah
                p Blah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blah
            li.media
              div.media-left
                a(href='/read/this-is-a-sweet-book')
                  img.img-rounded.media-object(src='/img/book-cover.png', alt='')
              div.media-body
                h2 Blah blah blah
                p Blah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blah
            li.media
              div.media-left
                a(href='/read/hey-you-sweet-book')
                  img.img-rounded.media-object(src='/img/book-cover.png', alt='')
              div.media-body
                h2 Blah blah blah
                p Blah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blah
        div.col-md-3
          ul.media-list
            li.media
              div.media-body
                h3.media-heading Heading
                p Sidebar text goes here which is really good
            li.media
              div.media-body
                h3.media-heading Heading
                p Sidebar text goes here which is really good
            li.media
              div.media-body
                h3.media-heading Heading
                p Sidebar text goes here which is really good
            li.media
              div.media-body
                h3.media-heading Heading
                p Sidebar text goes here which is really good
      div.waves
      div.treasure-chest
      div.anchor
      div.octopus
      div.seaweed
      div.sand
      div(fish-school='')
      img.sea-mist.one(src='/img/sea-mist.png', alt=' ')
      img.sea-mist.two(src='/img/sea-mist.png', alt=' ')
      img.sea-mist.three(src='/img/sea-mist.png', alt=' ')
  section.stratum.content-layer-2
    div.container-fluid
      h2 Books by age groups
      div.row
        div.col-md-6
          div.content-cell
            h3 0 - 5 years
            p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        div.col-md-6
          div.content-cell
            h3 5 - 8 years
            p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
      div.row
        div.col-md-6
          div.content-cell
            h3 9 - 12 years
            p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        div.col-md-6
          div.content-cell
            h3 12 + years
            p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
