div.container-fluid
  h1 Read
  div.row
    div.col-sm-3
      img.img-rounded.center-block.img-responsive(src='/img/book-cover.png', alt='')
    div.col-sm-9
      h2 Blah blah blah
      p Blah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blah
  div.row
    div.col-sm-3
      img.img-rounded.center-block.img-responsive(src='/img/book-cover.png', alt='')
    div.col-sm-9
      h2 Blah blah blah
      p Blah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blah
  div.row
    div.col-sm-3
      img.img-rounded.img-rounded.center-block.img-responsive(src='/img/book-cover.png', alt='')
    div.col-sm-9
      h2 Blah blah blah
      p Blah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blah
  div.row
    div.col-sm-3
      img.img-rounded.center-block.img-responsive(src='/img/book-cover.png', alt='')
    div.col-sm-9
      h2 Blah blah blah
      p Blah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blah
  div.row
    div.col-sm-3
      img.img-rounded.center-block.img-responsive(src='/img/book-cover.png', alt='')
    div.col-sm-9
      h2 Blah blah blah
      p Blah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blah
  div.waves
  div.sand