main#main.view-animate-container
  section.content-layer-1
    div.container-fluid
      div.row
        article
          h1 Say Hi
      div.cow
      div.tree-lg
        img(src='/img/tree-lg.png', alt='tree')
      div.grass
      div.hills