main#main.view-animate-container
  section.content-layer-1
    div.container-fluid
      div.row
        article
          h1 Say Hi
          h2 Wanna get involved? Or just say hi?
          p If you want to know more about why we need more sites like this, or want to contribute, or you just love books, please get in touch!
          p To all the authors - if you want to promote your book, do the same.
          p
            strong All nicies no bities.
          p
            a.btn.btn-default.btn-lg(href='mailto:atheistchildrensbooks@gmail.com')
              span.glyphicon.glyphicon-envelope(aria-hidden='true')
              span.text &nbsp; Have faith in email!
      div.cow
      div.tree-lg
        img(src='/img/tree-lg.png', alt='tree')
      div.grass
      div.hills
  section.stratum.content-layer-2
    div.container-fluid
      div.row
        div.col-md-12
          h2 Gathering clues
  hr.crust
  section.stratum.content-layer-3
    div.container-fluid
      div.row
        div.col-md-12
          div.dinosaur.pull-right
            img.skin(src='/img/t-rex.png', alt='t rex')
            img.bones(src='/img/t-rex-bones.png', alt='t rex bones')