div.menu-title
  span.glyphicon.glyphicon-menu-hamburger(aria-hidden='true')
div.menu-wrapper
  nav.navbar
    ul.nav.navbar-nav
      li
        a(href='/read') Read
      li
        a(href='/learn') Learn
      li
        a(href='/about') About
      li
        a(href='/say-hi') Say hi