@import url(http://fonts.googleapis.com/css?family=Coming+Soon);

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
}

::-webkit-scrollbar {
  height: 12px;
  width: 9px;
  background: 0 0;
  border-radius: 20px
}

::-webkit-scrollbar-thumb {
  background: #f03252;
  border: 3px solid #232323;
  border-radius: 20px
}

::selection {
  background: #f03252
}

::-moz-selection {
  background: #f03252
}

body,
html {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  color: #444;
  font-size: 10px;
  line-height: 1;
  letter-spacing: .03em;
  margin: 0;
  overflow: hidden;
  background-color: @bg-color;
  -webkit-transition: background .5s;
  -moz-transition: background .5s;
  transition: background .5s;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
  font-family: 'Coming Soon', cursive;
}

header,
main,
footer,
section,
article,
nav {
  display: block;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0
}

img {
  display: block;
}

.wrapper {
  position: relative;
}

.stage {
  height: 100%;
  width: 100%;
  background-color: #35CAE8;
  -webkit-transition: background .5s;
  -moz-transition: background .5s;
  transition: background .5s;
  overflow: hidden;
  &::before {
    content: "";
    opacity: .34;
    -webkit-transition: .23s;
    -moz-transition: .23s;
    transition: .23s;
    -webkit-backface-visibility: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(255, 255, 255, 0)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  }
}

footer {
  background: url(/img/grass.png) repeat-x bottom left;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 150px;
  nav {
    font-size: 3rem;
    font-weight: 700;
    padding: 70px 20px 40px 20px;
    li {
      display: inline-block;
      margin-right: 10px;
    }
    a {
      color: black;
      text-decoration: none;
      display: block;
      border-radius: 10px;
      padding: 17px 10px 10px 10px;
      background: rgba(255, 255, 255, 0.4);
      &:hover,
      &.active {
        background: rgba(255, 255, 255, .9);
      }
    }
  }
}

.logo {
  position: relative;
  cursor: pointer;
  width: 500px;
  img {
    width: 100%;
  }
  h1 {
    position: absolute;
    width: 100%;
    span {
      text-indent: -9999px;
      display: block;
    }
    img {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 11;
      opacity: 0;
      width: 50%;

      &.atheist {
        top: 33px;
        left: 62px;
      }
      &.childrens {
        top: 75px;
        left: 94px;
      }
      &.books {
        top: 132px;
        left: 132px;
      }
    }
  }
  .cloud {
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    opacity: 0;
  }
  .bg-clouds {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;
    opacity: 0;
  }
  .sun {
    position: absolute;
    opacity: 0;
    top: 113px;
    left: 292px;
    z-index: 8;
    width: 170px;
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    transition: all .25s ease-out;
    img {
      position: absolute;
      top: 0;
      left: 0;
      &.centre {
        top: 33px;
        left: 36px;
        width: 90px;
      }
      &.rays {
        -webkit-animation: ray-rotation 30s infinite linear;
        -moz-animation: ray-rotation 30s infinite linear;
        animation: ray-rotation 30s infinite linear;
        -webkit-transition: .78s;
        -moz-transition: .78s;
        transition: .78s;
        -webkit-transform-origin: 50% 50%;
        -moz-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        -o-transform-origin: 50% 50%;
        transform-origin: 50% 50%
      }
    }
  }

  &:hover {
    .sun {
      top: 130px;
      left: 338px;
    }
  }
}

.questions-corner {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  height: 224px;
  width: 175px;
  z-index: 12;
  overflow: hidden;
  opacity: 0;
  &:hover {
    .question {
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -o-transform: scale(1.2);
      -webkit-transform: rotate(25deg);
      -moz-transform: rotate(25deg);
      -o-transform: rotate(25deg);
    }
  }
  img {
    position: absolute;
    top: 10px;
    right: 28px;
    &.question {
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
      width: 100px;
    }
    &.balloon {
      top: -30px;
      right: -2px;
      -moz-animation: 3s ease 0s normal none infinite swing;
      -moz-transform-origin: center top;
      -webkit-animation: swing 3s infinite ease-in-out;
      -webkit-transform-origin: top;
      width: 168px;
    }
  }
}

.arrow {
  width: 150px;
  height: 130px;
  position: absolute;
  left: 1%;
  top: 50%;
  margin-bottom: -300px;
  cursor: pointer;
  z-index: 100;
  img {
    width: 100%;
  }
  a {
    display: block;
  }
  span {
    position: absolute;
    left: -9999px;
  }
  &.right {
    left: auto;
    right: 1%;
    text-align: right;
    a {
    }
  }
}

// overlay

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  top: 2.5%;
  left: 0;
  opacity: 0;
  display: none;
  &.show {
    display: block;
  }

  .wrapper {
    position: relative;
    background: rgba(255, 255, 255, 0.97);
    width: 95%;
    height: 95%;
    border-radius: 20px;
    margin: 0 auto;
    .close {
      position: absolute;
      right: 20px;
      top: 20px;
      cursor: pointer;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
      opacity: .7;
      &:hover {
        opacity: 1;
      }
      span {
        display: inline-block;
        text-indent: -9999px;
      }
    }
  }
}

// swiper

body.loaded {
  .swiper-container {
    opacity: 1;
  }
}

.swiper-container {
  height: 100%;
  width: 100%;
  opacity:0;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  .swiper-slide {
    height: 100%;
    width: 100%;
    font-size: 5rem;
    display: table;
    .swiper-slide-wrapper {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
    }
  }
  .swiper-button-next, .swiper-button-prev {
    background: 0;
  }
}

.content-cell {
  position: absolute;
  background: #fff;
}

.cow {
  width: 320px;
  height: 240px;
  background-image: url('/img/cow.png');
  position: absolute;
  bottom: 75px;
  right: 80px;
  cursor: pointer;
}

.cow:hover {
  -webkit-animation: chew 1s steps(6) infinite;
  -moz-animation: chew 1s steps(6) infinite;
  -ms-animation: chew 1s steps(6) infinite;
  -o-animation: chew 1s steps(6) infinite;
}

// animations
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.lightSpeedIn {
  -webkit-animation-name: lightSpeedIn;
  animation-name: lightSpeedIn;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out
}

.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-duration: .75s;
  animation-duration: .75s
}

.shake {
  -webkit-animation-name: shake;
  animation-name: shake
}

.zoomInDown {
  -webkit-animation-name: zoomInDown;
  animation-name: zoomInDown
}