@import url(http://fonts.googleapis.com/css?family=Coming+Soon);

::-webkit-scrollbar {
  height: 12px;
  width: 9px;
  background: 0 0;
  border-radius: 20px
  background:white;
  z-index:1000;
}

::-webkit-scrollbar-thumb {
  background: #f03252;
  border: 3px solid #232323;
  border-radius: 20px
}

::selection {
  background: #f03252
}

::-moz-selection {
  background: #f03252
}

body,
html {
  height: 100%;
  width: 100%;
  color: #333;
  line-height: 1.4;
  letter-spacing: .03em;
  margin: 0;
  overflow: hidden;
  background-color: @bg-color;
  -webkit-transition: background .5s;
  -moz-transition: background .5s;
  transition: background .5s;
  -webkit-font-smoothing: antialiased;
  font-family: 'Coming Soon', cursive;
}
h1, h2, h3, h4, h5, nav {
  text-transform: uppercase;
}
.wrapper {
  position: relative;
}
.stage {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
// animations
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.lightSpeedIn {
  -webkit-animation-name: lightSpeedIn;
  animation-name: lightSpeedIn;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out
}

.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-duration: .75s;
  animation-duration: .75s
}

.shake {
  -webkit-animation-name: shake;
  animation-name: shake
}

.zoomInDown {
  -webkit-animation-name: zoomInDown;
  animation-name: zoomInDown
}