@import url(http://fonts.googleapis.com/css?family=Coming+Soon);

::-webkit-scrollbar {
  height: 12px;
  width: 9px;
  background: 0 0;
  border-radius: 20px
  background:white;
}

::-webkit-scrollbar-thumb {
  background: #f03252;
  border: 3px solid #232323;
  border-radius: 20px
}

::selection {
  background: #f03252
}

::-moz-selection {
  background: #f03252
}

body,
html {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  color: #333;
  line-height: 1.4;
  letter-spacing: .03em;
  margin: 0;
  overflow: hidden;
  background-color: @bg-color;
  -webkit-transition: background .5s;
  -moz-transition: background .5s;
  transition: background .5s;
  -webkit-font-smoothing: antialiased;
  font-family: 'Coming Soon', cursive;
}
h1, h2, h3, h4, h5, nav {
  text-transform: uppercase;
}
.wrapper {
  position: relative;
}
.stage {
  height: 100%;
  width: 100%;
}
main {
}
nav {
  font-size: 3rem;
  font-weight: 700;
  li {
    display: inline-block;
    margin-right: 10px;
  }
  a {
    color: black;
    text-decoration: none;
    display: block;
    border-radius: 10px;
    padding: 17px 10px 10px 10px;
    background: rgba(255, 255, 255, 0.4);
    &:hover,
    &.active {
      background: rgba(255, 255, 255, .9);
    }
  }
}
header {
  nav {
    position:absolute;
    top:40px;
    left:500px;
    z-index:99;
  }
}
.logo {
  position: relative;
  cursor: pointer;
  width: 500px;
  float:left;

  img {
    width: 100%;
  }
  h1 {
    position: absolute;
    width: 100%;
    span {
      text-indent: -9999px;
      display: block;
    }
    img {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 11;
      opacity: 0;
      width: 50%;

      &.atheist {
        top: 33px;
        left: 62px;
      }
      &.childrens {
        top: 75px;
        left: 94px;
      }
      &.books {
        top: 132px;
        left: 132px;
      }
    }
  }
  .cloud {
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    opacity: 0;
  }
  .bg-clouds {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;
    opacity: 0;
  }
  .sun {
    position: absolute;
    opacity: 0;
    top: 113px;
    left: 292px;
    z-index: 8;
    width: 170px;
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    transition: all .25s ease-out;
    img {
      position: absolute;
      top: 0;
      left: 0;
      &.centre {
        top: 33px;
        left: 36px;
        width: 90px;
      }
      &.rays {
        -webkit-animation: ray-rotation 30s infinite linear;
        -moz-animation: ray-rotation 30s infinite linear;
        animation: ray-rotation 30s infinite linear;
        -webkit-transition: .78s;
        -moz-transition: .78s;
        transition: .78s;
        -webkit-transform-origin: 50% 50%;
        -moz-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        -o-transform-origin: 50% 50%;
        transform-origin: 50% 50%
      }
    }
  }

  &:hover {
    .sun {
      top: 130px;
      left: 338px;
    }
  }
}

.questions-corner {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  height: 224px;
  width: 175px;
  z-index: 12;
  overflow: hidden;
  opacity: 0;
  &:hover {
    .question {
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -o-transform: scale(1.2);
      -webkit-transform: rotate(25deg);
      -moz-transform: rotate(25deg);
      -o-transform: rotate(25deg);
    }
  }
  img {
    position: absolute;
    top: 10px;
    right: 28px;
    &.question {
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
      width: 100px;
    }
    &.balloon {
      top: -30px;
      right: -2px;
      -moz-animation: 3s ease 0s normal none infinite swing;
      -moz-transform-origin: center top;
      -webkit-animation: swing 3s infinite ease-in-out;
      -webkit-transform-origin: top;
      width: 168px;
    }
  }
}
// animations
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.lightSpeedIn {
  -webkit-animation-name: lightSpeedIn;
  animation-name: lightSpeedIn;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out
}

.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-duration: .75s;
  animation-duration: .75s
}

.shake {
  -webkit-animation-name: shake;
  animation-name: shake
}

.zoomInDown {
  -webkit-animation-name: zoomInDown;
  animation-name: zoomInDown
}