footer {
  margin-top:-1px;
  padding-top:50px;
  padding-bottom:50px;
  background: #000;
  min-height:200px;
  color: white;
  .contact {
    padding:10px 20px;
    background:rgba(0,0,0,0.7);
    border-radius: 6px;
    color:white;
    margin-bottom:20px;
  }
  nav {
    padding:10px;
    background:rgba(255,255,255,0.7);
    border-radius: 6px;
    color:black;
    ul {
      margin:0;
      padding:0;
    }
    li {
      padding:0;
      margin-right:20px;
      display:inline-block;
      list-style: none;
      a {
        color:black;
      }
    }
  }
}