.stage.blog {

  background-color: #EBF1FF;
  color:white;

  .mountains {
    background: url(/img/mountains.png) repeat-x top left;
    position: absolute;
    top:25px;
    z-index: 0;
    height:400px;
    left: 0;
    width:130%;
  }

  .content-layer-1,
  .content-layer-2 ,
  .content-layer-3 {
    padding-bottom: 0;
  }

  .content-layer-1  {
    .container-fluid {
      background-color:#082056
    }
    .row {
      z-index: 2;
      position:relative;
    }
  }


}