header {
  .container {
    position:relative;
  }
  .menu-title {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    background: transparent;
    width:70px;
    height:70px;
    font-size: 4rem;
    cursor: pointer;
    background: white;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    color:black;
    &:hover {
      .lh-opacity(0.6);
    }
    @media (min-width: @screen-md-min) {
      display: none;
    }
  }
  nav {
    opacity: 0;
    font-size: 1.7rem;
    font-weight: 700;
    @media (min-width: @screen-md-min) {
      opacity: 1;
      font-size: 1.1rem;
    }
    ul {
      padding:0;
      margin:0;
    }
    li {
      list-style: none;
      display: block;
      position:relative;
      margin-left:20px;
      @media (min-width: @screen-md-min) {
        display: inline-block;
      }
    }
    a {
      color: black;
      text-decoration: none;
      display: block;
    background: #fff;
padding:8px 12px;
      display: block;
    }
  }

  /* Menu */
  .menu-wrapper {
    position: absolute;
    z-index: 100;
    background: #fff;
    .lh-transition(width 0.3s, height 0.3s);
    width: 0;
    height: 0;
    font-size: 1.5em;
    top: 70px;
    right: 0;
    .lh-transform-origin(0% 100%);
    @media (min-width: @screen-md-min) {
      background : transparent;
      width: auto;
      height: auto;
      top: 10px;
    }
  }
}

/* Shown menu */
.menu-open {
  .menu-wrapper {
    width: 280px;
    height: 280px;
    .lh-animation(anim-jelly 0.8s linear forwards);
    li.active,
    li:hover {
      background-color: #999;
    }
    nav {
      opacity: 1;
      .lh-transition(opacity 0.3s 0.3s);
    }
  }
}







