.planets{
  display: none;
}
#say-hi {
  position: relative;
  background-color: rgba(0, 0, 0, .87);
  margin-top:-600px;
  overflow: hidden;
  transition-property: all;
  transition-duration: .5s;
  height: 600px;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  .spaceship {
    position: absolute;
    top:10px;
    left:10px;
    width:200px;
    display:none;
    @media (min-width: @screen-sm-min) {
      display:block;
    }
    img {
      max-width: 100%
    }
  }
  &.space {
    margin-top:0px;
    background-image: url(/img/stars.png);
    .planets,
    .header-content {
      display: block;
    }
    .planets {
      right: 0;
      position: absolute;
      z-index: 0;
      top: 0;
      display:none;
      @media (min-width: @screen-sm-min) {
        display:block;
      }
      .planet {
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        -webkit-animation-name: orbit;
        position: absolute;
        list-style: none;
        &.one {
          -webkit-animation-duration: 10s;
          top: -358px;
          right: -395px;
          width: 800px;
          height: 800px;
        }
        &.two {
          -webkit-animation-duration: 8s;
          top: -179px;
          right: -185px;
          width: 500px;
          height: 500px;
        }
        &.three {
          -webkit-animation-duration: 18s;
          top: -391px;
          right: -420px;
          width: 950px;
          height: 950px;
        }
        &.four {
          -webkit-animation-duration: 5s;
          top: -73px;
          right: -68px;
          width: 300px;
          height: 300px;
        }
      }
      .sun {
        position: absolute;
        top: -16px;
        right: -4px;
      }
    }

  }
}

.header-content {
  color: #fff;
  font-size: 1.2rem;
  width: 70%;
  margin: 30px auto;
  h2 {
    font-size:1.4rem;
  }
  a {
    font-size: 1.5rem;
    .text {
      display: inline-block;
      margin-left:8px;
    }
  }
  @media (min-width: @screen-sm-min) {
    margin: 80px auto;
  }
  @media (min-width: @screen-lg-min) {
    h2 {
      font-size:1.8rem;
    }
    font-size: 1.6rem;
  }
}

@-webkit-keyframes orbit {
  from {
    -webkit-transform: rotate(0deg)
  }
  to {
    -webkit-transform: rotate(360deg)
  }
}
