.stage.read {
  .content-layer-2,
  footer {
    background: url(/img/sand-bg.png);
  }

  .content-layer-1  {
    padding-bottom: 75px;
  }

  .content-layer-1 .container-fluid {
    background-color:#B9F0FE;
  }

  .treasure-chest {
    position:absolute;
    bottom:3px;
    left:40px;
    background: url(/img/treasure-chest.png) no-repeat 0 -167px;
    height: 166px;
    width: 221px;
    &:hover {
      background-position: 0 0;
      bottom:36px;
    }
  }

  .fish-school {
    position:absolute;
    z-index:1;
    opacity:0.2;
    right:-200px;
    bottom: 400px;
    width: 200px;
    height: 200px;
    img {
      max-width: 100%;
    }
  }

}

