footer.container-fluid
  section
    div.row
      div.col-md-12.grass-layer
        h2 Gathering clues
        p Look around the page. Can you find all the clues and work out the answer?
    div.row.crust-layer
      div.col-md-6
        h2 Questions and (some) answers
        dl
          dt Q: What does atheism mean?
          dd A:
          dt Q: Other people believe in god. Why shouldn't I?
          dd A:

      div.col-md-6
        div.dinosaur.pull-right
          img.skin(src='/img/t-rex.png', alt='t rex')
          img.bones(src='/img/t-rex-bones.png', alt='t rex bones')
