header
  div.logo
    a.logo-wrapper(href='/')
      img(class='atheist', src='/img/atheist.png', alt='atheist')
      img(class='childrens', src='/img/childrens.png', alt='childrens')
      img(class='books', src='/img/books.png', alt='books')
      span
        Atheist Childrens' Books
    div.cloud
      img(src='/img/cloud.png', alt='cloud')
    div.sun
      div.wrapper
        img(class='centre', src='/img/sun-centre.png', alt='sun')
        img(class='rays', src='/img/sun-rays.png', alt='sun rays')
    div.spaceship
      img(src='/img/spaceship.png', alt='spaceship')
    div.bg-clouds
      img(src='/img/bg-clouds.png', alt='clouds')
  div.questions-corner
    case page
      when 'read'
        div.wrapper
          img(class='boat', src='/img/boat.png', alt='boat')
      default
        span.cloud-layer
        div.wrapper
          img(class='balloon', src = '/img/balloon.png', alt = 'balloon')
          img(class='question', src='/img/question.png', alt='question')
  include ./nav.jade