div.menu-title
  span.glyphicon.glyphicon-menu-hamburger(aria-hidden='true')
div.menu-wrapper
  nav.navbar
    ul.nav.navbar-nav
      each val, index in navigation
        li(class=val.class)
          if page == val.class
            a.active(href=val.link)= val.label
          else
            a(href=val.link)= val.label