div.menu-title Menu
div.menu-wrapper
  nav
    ul
      li
        a.active(href='#', data-slide-index='0') home
      li
        a(href='#', data-slide-index='1') read
      li
        a(href='#', data-slide-index='2') learn
      li
        a(href='#') say hi
      li
        a(href='#') about