div.menu-title Menu
div.menu-wrapper
  nav
    ul
      li.home
        a.active(href='#', data-slide-index='0')
          span home
      li.read
        a(href='#', data-slide-index='1')
          span read
      li.learn
        a(href='#', data-slide-index='2')
          span learn
      li.say-hi
        a(href='#say-hi')
          span say hi
      li.about
        a(href='#about')
          span about