div.overlay
  div.wrapper
    h2 What's this all about?
    p Atheist Children's Books does what is says on the labels
    h3 What is atheism?
    p Has anyone ever told you...
    h3 More info
    p If you want to know more about why we need more sites like this
    p If you want to know more about why we need more sites like this
    p If you want to know more about why we need more sites like this
    p If you want to know more about why we need more sites like this
    p If you want to know more about why we need more sites like this
    p If you want to know more about why we need more sites like this
    p If you want to know more about why we need more sites like this
    p If you want to know more about why we need more sites like this
    p If you want to know more about why we need more sites like this
    p If you want to know more about why we need more sites like this
    p If you want to know more about why we need more sites like this

    div.close
      img(src='/img/close-x.png', alt='Close')
      img(src='/img/close.png', alt='Close')
      span Close