section#say-hi
  div.spaceship.bounceIn.animated
    img(src='/img/spaceship.png', alt='spaceship')
  div.header-content
    div.row
      div.col-md-12
        p If you want to know more about why we need more sites like this
        p If you want to know more about why we need more sites like this
        p If you want to know more about why we need more sites like this
        p If you want to know more about why we need more sites like this
  div.planets
    ul
      li.planet.one
        img(src='/img/planet-1.png', alt='planet')
      li.planet.two
        img(src='/img/planet-2.png', alt='planet')
      li.planet.three
        img(src='/img/planet-3.png', alt='planet')
      li.planet.four
        img(src='/img/planet-4.png', alt='planet')
      li.sun
        img(src='/img/sun-centre.png', alt='sun')
div.dark-clouds
  img.dark-cloud-1(src='/img/dark-cloud-1.png', alt='dark cloud')
  img.dark-cloud-2(src='/img/dark-cloud-2.png', alt='dark cloud')
  img.dark-cloud-3(src='/img/dark-cloud-3.png', alt='dark cloud')