section#say-hi
  div.spaceship.bounceIn.animated
    img(src='/img/spaceship.png', alt='spaceship')
  div.header-content
    div.row
      div.col-md-12
        h2.invert Wanna get involved? Or just say hi?
        p If you want to know more about why we need more sites like this, or want to contribute, or you just love books, please get in touch!
        p To all the authors - if you want to promote your book, do the same.
        p
          strong All nicies no bities.
        p
          a.btn.btn-default.btn-lg(href='mailto:atheistchildrensbooks@gmail.com')
            span.glyphicon.glyphicon-envelope(aria-hidden='true')
            span.text Have faith in email!
  div.planets
    ul
      li.planet.one
        img(src='/img/planet-1.png', alt='planet')
      li.planet.two
        img(src='/img/planet-2.png', alt='planet')
      li.planet.three
        img(src='/img/planet-3.png', alt='planet')
      li.planet.four
        img(src='/img/planet-4.png', alt='planet')
      li.sun
        img(src='/img/sun-centre.png', alt='sun')