- var page = 'about'
doctype html
html(lang='en')
  head
    title Atheist Children's Books :: About
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
if scripts.head
  each val in scripts.head
    script(src=val, type='text/javascript')
  each val in styles
    link(rel='stylesheet', href=val)
  body.no-touch
    div.stage
      include ./modules/say-hi.jade
      include ./modules/header.jade
      main#main
        div.container-fluid
          div.row
            article
              h1 About
              img.avery-sleep(src='img/avery-sleep.png', alt='Avery Sleep looking through a telescope at you!')
              h2 Thanks for visiting Atheist Children's Books
              p This is Avery Sleep. He's like most kids you would say - he likes exploring, eating jam on toast with lots of butter, and romping around with his friends. Unlike most kids, Avery isn't from around here. Not from down the street, not from another city or country or even solar system, but from a little planet on the other side of the Milky Way called Libraria - home to the biggest collection of books anywhere in the universe. And do you know what Avery Sleep likes to do most of the time? That's right! Read books!
              p Because he's full of questions such as "I wonder if there are kids just like me on the other side of the galaxy?", he decided to jump into his ship, full it with books and visit us here on Earth to find out what books we love to read and ask more questions. Maybe you can help him find out a few things yourself!
              p
                strong Athiest Children's Books is currently in development.
              h3 Who's behind all this?
              p Hi! My name's Ramon James - a book lover, writer illustrator, and asker of questions.
              p I've been carrying around the idea to create a site to promote atheist literature for children for a long time. Partly due to my own experience with religious education, and partly in response to the way modern religions indoctrinate the very young with stories of ghosts, hell and not very nice gods.
              p There are many intelligent, non-patronising (and awesome!) books out there that teach kids the virtues of curiousity, inquiry and science. They give kids the opportunity to think for themselves, rather than, like many of us had to do, 'grow out' of our beliefs.
              h3 So what's next?
              p I work on this site outside of my day job. If you'd like to contribute to getting this site up and running, or are an author of secular, humanist, science or atheist books for kids and would like to promote your book on atheistchildrensbooks.org, please get in touch.
              p Atheist Children's Books is currently (and constantly) development while we:
              ul
                li Finish the site
                li Create a database of books and approach authors for permission to promote their books
                li Make some fun stuff like games and puzzles! :)
                li ?
          div.cow
          div.tree-lg
            img(src='/img/tree-lg.png', alt='tree')
          div.grass
          div.hills
      include ./modules/footer.jade
    include ./modules/overlay.jade
    include ./modules/loading.jade
    if vendor
      each val in vendor
        script(src=val, type='text/javascript')
    each val in scripts.body
      script(src=val, type='text/javascript')