doctype html
html(lang='en')
  head
    title Atheist Childrens' Books
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
  each val in styles
    link(rel='stylesheet', href=val)      
  body
    div.stage
      header
        div.logo
          h1
            img(class='atheist', src='/img/atheist.png', alt='atheist')
            img(class='childrens', src='/img/childrens.png', alt='childrens')
            img(class='books', src='/img/books.png', alt='books')
            span
              Atheist Childrens' Books
          div.cloud
            img(src='/img/cloud.png', alt='cloud')
          div.sun
            div.wrapper
                img(class='centre', src='/img/sun-centre.png', alt='sun')
                img(class='rays', src='/img/sun-rays.png', alt='sun rays')
          div.bg-clouds
            img(src='/img/bg-clouds.png', alt='clouds')
        div.questions-corner
          div.wrapper
            img(class='balloon', src='/img/balloon.png', alt='balloon')
            img(class='question', src='/img/question.png', alt='question')
        include ./modules/nav.jade
      main#main
        div.swiper-container
          div.swiper-footer
          div.swiper-wrapper.container-fluid
            div.swiper-slide(data-hash='home')
              div.swiper-slide-wrapper
                div.row
                  div.col-md-7.col-md-offset-4
                    div.content-cell
                      h2 Some home row content
                      p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                div.row
                  div.col-md-6
                    div.content-cell
                      h2 Something eoese
                      p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                  div.col-md-6
                    div.content-cell
                      h2 Something eoese2
                      p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                div.cow
            div.swiper-slide(data-hash='read')
              div.swiper-slide-wrapper
                div.row
                  div.col-md-7.col-md-offset-4
                    div.content-cell
                      h2 Some home row content
                      p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                div.row
                  div.col-md-12
                    div.content-cell
                      h2 Something eoese
                      p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                div.tree-lg
                  img(src='/img/tree-lg.png', alt='tree')
            div.swiper-slide(data-hash='learn')
              div.swiper-slide-wrapper
                div.row
                  div.col-md-7.col-md-offset-4
                    div.content-cell
                      h2 Some home row content
                      p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                div.row
                  div.col-md-6
                    div.content-cell
                      h2 Something eoese
                      p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                  div.col-md-6
                    div.content-cell
                      h2 Something eoese2
                      p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

        div.arrow.left.swiper-button-prev
            img(src='/img/left-arrow.png', alt='left arrow')
            a(href='#')
              img(src='/img/that-way.png', alt='That way')
              span That way
          div.arrow.right.swiper-button-next
            img(src='/img/right-arrow.png', alt='right arrow')
            a(href='#')
              img(src='/img/this-way.png', alt='This way')
              span This way

      include ./modules/footer.jade
    include ./modules/overlay.jade
    include ./modules/loading.jade

    if vendor
      each val in vendor
        script(src=val, type='text/javascript')
    each val in scripts.body
      script(src=val, type='text/javascript')