doctype html
html(lang='en', ng-app='acb', ng-controller='MainController')
  head
    include ./includes/head.jade
  body(ng-class='{"menu-open" : isMenuOpen, "shadow" : isMenuOpen || isModalBoxOpen, "loaded" : isPageLoaded, "modal-open" : isModalBoxOpen}')
    div.stage(class='{{pageId}}')
      div(site-header)
      div.view-animate(ng-view='', ng-cloak='')
      include ./includes/footer.jade
      div.modal-box(modal-box='', data-is-modal-box-open='isModalBoxOpen')
      div.loading(loader='', ng-class='{"loaded" : loadingFinished, "hide" : hideLoader}')
    if vendor
      each val in vendor
        script(src=val, type='text/javascript')
    each val in scripts.body
      script(src=val, type='text/javascript')