- var page = 'learn'
doctype html
html(lang='en')
  head
    title Atheist Children's Books :: Read
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
if scripts.head
  each val in scripts.head
    script(src=val, type='text/javascript')
  each val in styles
    link(rel='stylesheet', href=val)
  body.no-touch
    div.stage.learn
      include ./modules/header.jade
      main#main
        div.main-wrapper
          div.container-fluid
            h1 Learn
            div.row
              div.col-md-6
                h2 Blah blah blah
                p Blah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blah
              div.col-md-6
                h2 Blah blah blah
                p Blah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blah
            div.row
              div.col-md-6
                h2 Blah blah blah
                p Blah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blah
              div.col-md-6
                h2 Blah blah blah
                p Blah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blah
            div.row
              div.col-md-6
                h2 Blah blah blah
                p Blah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blah
              div.col-md-6
                h2 Blah blah blah
                p Blah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blah
            div.row
              div.col-md-6
                h2 Blah blah blah
                p Blah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blah
              div.col-md-6
                h2 Blah blah blah
                p Blah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blah
        hr.cloud-layer
        div.planets
          ul
            li.planet.one
              img(src='/img/planet-1.png', alt='planet')
            li.planet.two
              img(src='/img/planet-2.png', alt='planet')
            li.planet.three
              img(src='/img/planet-3.png', alt='planet')
            li.planet.four
              img(src='/img/planet-4.png', alt='planet')
            li.sun
              img(src='/img/sun-centre.png', alt='sun')
      include ./modules/footer.jade
    include ./modules/overlay.jade
    include ./modules/loading.jade
    if vendor
      each val in vendor
        script(src=val, type='text/javascript')
    each val in scripts.body
      script(src=val, type='text/javascript')