.carousel
    .slide
        .slide-wrapper
            a(href='/read/what-a-spiffing-book')
                span.age.label.label-info 4-8 years
                figure
                    div
                        img.img-rounded(src='/img/book-cover.png', alt='')
                    figcaption
                        div
                            h3 My awesome book
                            span Your name here
    .slide
        .slide-wrapper
            a(href='/read/what-a-spiffing-book')
                span.age.label.label-info 4-8 years
                figure
                    div
                        img.img-rounded(src='/img/book-cover.png', alt='')
                    figcaption
                        div
                            h3 My awesome book
                            span Your name here
    .slide
        .slide-wrapper
            a(href='/read/what-a-spiffing-book')
                span.age.label.label-info 4-8 years
                figure
                    div
                        img.img-rounded(src='/img/book-cover.png', alt='')
                    figcaption
                        div
                            h3 My awesome book
                            span Your name here
    .slide
        .slide-wrapper
            p test5
            p test5
    .slide
        .slide-wrapper
            a(href='/read/what-a-spiffing-book')
                span.age.label.label-info 4-8 years
                figure
                    div
                        img.img-rounded(src='/img/book-cover.png', alt='')
                    figcaption
                        div
                            h3 My awesome book
                            span Your name here
    .slide
        .slide-wrapper
            p test7
            p test7
    .slide
        .slide-wrapper
            p test8
            p test8
    .slide
        .slide-wrapper
            p test9
            p test9
    .slide
        .slide-wrapper
            a(href='/read/what-a-spiffing-book')
                span.age.label.label-info 4-8 years
                figure
                    div
                        img.img-rounded(src='/img/book-cover.png', alt='')
                    figcaption
                        div
                            h3 My awesome book
                            span Your name here


