.carousel
    .slide
        .slide-wrapper.book-slide
            a(href='/read/what-a-spiffing-book')
                img.img-responsive(src='/img/book-cover.png', alt='')
    .slide
        .slide-wrapper.book-slide
            a(href='/read/what-a-spiffing-book')
                img.img-responsive(src='/img/book-cover.png', alt='')
    .slide
        .slide-wrapper.book-slide
            a(href='/read/what-a-spiffing-book')
                img.img-responsive(src='/img/book-cover.png', alt='')
    .slide
        .slide-wrapper.book-slide
            a(href='/read/what-a-spiffing-book')
                img.img-responsive(src='/img/book-cover.png', alt='')
    .slide
        .slide-wrapper.book-slide
            a(href='/read/what-a-spiffing-book')
                img.img-responsive(src='/img/book-cover.png', alt='')
    .slide
        .slide-wrapper.book-slide
            a(href='/read/what-a-spiffing-book')
                img.img-responsive(src='/img/book-cover.png', alt='')
    .slide
        .slide-wrapper.book-slide
            a(href='/read/what-a-spiffing-book')
                img.img-responsive(src='/img/book-cover.png', alt='')
    .slide
        .slide-wrapper.book-slide
            a(href='/read/what-a-spiffing-book')
                img.img-responsive(src='/img/book-cover.png', alt='')
