.carousel
    .slide
        .slide-wrapper.book-slide
            .row
                .col-md-6
                    a(href='/read/what-a-spiffing-book')
                        img.img-rounded(src='/img/book-cover.png', alt='')
                .col-md-6
                    span.age.label.label-info 4-8 years
                    h4 My awesome book
                    p Your name here
    .slide
        .slide-wrapper.book-slide
            .row
                .col-md-6
                    a(href='/read/what-a-spiffing-book')
                        img.img-rounded(src='/img/book-cover.png', alt='')
                .col-md-6
                    span.age.label.label-info 4-8 years
                    h4 My awesome book
                    p Your name here
    .slide
        .slide-wrapper.book-slide
            .row
                .col-md-6
                    a(href='/read/what-a-spiffing-book')
                        img.img-rounded(src='/img/book-cover.png', alt='')
                .col-md-6
                    span.age.label.label-info 4-8 years
                    h4 My awesome book
                    p Your name here
    .slide
        .slide-wrapper.book-slide
            .row
                .col-md-6
                    a(href='/read/what-a-spiffing-book')
                        img.img-rounded(src='/img/book-cover.png', alt='')
                .col-md-6
                    span.age.label.label-info 4-8 years
                    h4 My awesome book
                    p Your name here
    .slide
        .slide-wrapper.book-slide
            .row
                .col-md-6
                    a(href='/read/what-a-spiffing-book')
                        img.img-rounded(src='/img/book-cover.png', alt='')
                .col-md-6
                    span.age.label.label-info 4-8 years
                    h4 My awesome book
                    p Your name here
    .slide
        .slide-wrapper.book-slide
            .row
                .col-md-6
                    a(href='/read/what-a-spiffing-book')
                        img.img-rounded(src='/img/book-cover.png', alt='')
                .col-md-6
                    span.age.label.label-info 4-8 years
                    h4 My awesome book
                    p Your name here


