div.row
  div.col-xs-12
    h2 Guess a god
      small &nbsp; Which one do you think is the real god?
  div.col-sm-6.col-md-3
    div.thumbnail(title='Ganesha', style='background-image: url(/img/ganesha.png)')
  div.col-sm-6.col-md-3
    div.thumbnail(title='God', style='background-image: url(/img/god.png)')
  div.col-sm-6.col-md-3
    div.thumbnail(title='Osiris', style='background-image: url(/img/osiris.png)')
  div.col-sm-6.col-md-3
    div.thumbnail(title='Flying Spaghetti Monster', style='background-image: url(/img/flying-spaghetti-monster.png)')