div.wrapper
  section
    figure
      img(src='/img/loading.gif', alt='Reading and loading...')
      figcaption
        p Loading <span>Atheist Childrens' Books</span> {{percentageComplete}}%
    img.loading-star.one(src='/img/star-1.png', alt='star')
    img.loading-star.two(src='/img/star-1.png', alt='star')
    img.loading-star.three(src='/img/star-1.png', alt='star')
    img.loading-star.four(src='/img/star-1.png', alt='star')
    img.loading-star.five(src='/img/star-1.png', alt='star')
    img.loading-star.six(src='/img/star-1.png', alt='star')
    img.loading-star.seven(src='/img/star-1.png', alt='star')
    img.loading-star.eight(src='/img/star-1.png', alt='star')
